@import 'base';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $firstColor;
    color: $backColor;
}

.main {
    display: flex;
}

.navbar {
    background-color: $secondColor;
    width: 20%;
    padding: $tripleSpace;
    ul {
        color: $backColor;
        font-family: $textFont;
        font-size: 1em;
        li {
            margin: $simpleSpace 0;
        }
    }
}

.aside {
    background-color: $thirdColor;
    width: 20%;
}

.news {
    width: 60%;
}

.news_post {
    padding: $simpleSpace;
    img {
        float: left;
        max-width: 400px;
        width: 100%;
        max-height: 300px;
        margin: $simpleSpace;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $simpleSpace;
    background-color: $fourthColor;
    p {
        color: $firstColor;
        text-transform: uppercase;
        font-size: 0.8em;
    }
}